
.input-field label{
    color: grey;
    padding: 10px;
}

.input-field{
    padding: 10px;
}
.login-body{
    background-size: center;
    background-position: center;
    background-attachment: fixed;
}

.input-cart{
    min-height: 400px;
    border-top:3px solid #b3a920;
    margin-top: 80px;
    margin-bottom: 100px;
}
.row .col {
    margin-top:0;
}
.login{
    margin-top: 10px;
    background-color: rgba(179,169,32,0.23);
}
.login h4{
    font-weight: 200;
    font-family: 'Permanent Marker', cursive;
}
.btn:hover{
    opacity: 0.7;
}
.color-boton{
    background-color: #B3A920;
    border-radius: 20px;
}