.form-container {
    position: absolute;
    height: 500px;
    top: 22%;
    z-index: 20;
    padding: 20px;
    font-weight: bold;
}
.botones-posicion button {
    background-color: #B3A920;
    border-radius: 20px;
}
.row .col {
    margin-top: 20px;
}