.main {
  margin-top: 20px;
}
.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.imagen-fondo {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 100vh;
  /* background-image: url("D:\webapp-admin\src\img\fondo.svg");*/
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-left: 12%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Mansalva', cursive;
  color: black;
  font-size: 20px;
}

.sub-title {
  margin-top: 12px;
  color: #7e8081;
  font-size: 12px;
}
.btn-floating i{
  color: black;
}

.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.list-title {
  color: #525151;
  font-size: 20px;
  font-weight: 500;
}
.boton-desktop{
  display: none;
}
.boton-mobile{
  display: block;
}
@media (min-width: 768px) {
  /* For desktop: */
.boton-desktop{
  display: block;
}
.boton-mobile{
  display: none;
}
.button {
  color: white;
  background-color: #b3a920;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-left: 15px;
}
.title {
  font-family: 'Mansalva', cursive;
  color: black;
  font-size: 31px;
}
.btn i {
  font-size: 25px;
  color: white;
}
}
@media (min-width: 425px) {
  /* For desktop: */
.boton-desktop{
  display: block;
}
.boton-mobile{
  display: none;
}
.button {
  color: white;
  background-color: #b3a920;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 40px;
  margin-left: 18px;
}
.title {
  font-family: 'Mansalva', cursive;
  color: black;
  font-size: 25px;
}
.btn i {
  font-size: 15px;
  color: white;
}
}