
.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.imagen-fondo {
  content: "";
  position: absolute;
  z-index: -10;
  width: 50%;
  height: 100vh;
  /* background-image: url("D:\webapp-admin\src\img\fondo.svg");*/
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-left: 12%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  font-size: 31px;
}

.sub-title {
  margin-top: 12px;
  color: #939ba3;
  font-size: 12px;
}

.button {
  background-color: #b3a920;
  border-radius: 25px;
}

.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.list-title {
  color: #525151;
  font-size: 31px;
  font-weight: 500;
}
