.card-container {
  width: 100%;
  height: 50px;
  border: solid 0.25px #b5b5b5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.color {
  border-radius: 10px;
  margin-left: 12px;
}

.color-green {
  height: 30px;
  width: 30px;
  background-color: greenyellow;
  border: solid 0.25px greenyellow;
}

.color-red {
  height: 30px;
  width: 30px;
  background-color: red;
  border: solid 0.25px red;
}

.right-content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
